*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.navigation-list-item {
  padding: 24px 0 24px 0;
}
.span-main {
  color: #2e2f42;
}
.navigation-main {
}
header .container {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* padding: 24px 0; */
  padding: 0 15px;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  /* padding-right: 76px; */
  margin-right: 76px;
}
.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.navigation-list-item {
  padding: 24px 0;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0/02em;
  color: #2e2f42;
  padding: 24px 0 24px 0;
}
.navigation:hover,
:focus {
  color: #404bbf;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  font-style: normal;
}
.contact-info {
  display: flex;
  padding: auto;
  margin: auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.contact-info:hover,
:focus {
  color: #404bbf;
}
/* main  */

/* blue banner */
h1 {
  text-align: center;
}
.main-banner {
  padding: 188px 0;
}
.main-banner .container {
  height: 600px;
}

.main-head {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  max-width: 496px;
  padding-top: 188px;
  padding-bottom: 48px;
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  /* display: flex; */
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  padding: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.button-order:hover,
:focus {
  background-color: #404bbf;
}

/* work banner */
.work {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.work-list-item {
  width: calc((100% - 72px) / 4);
}
.container .work-list {
  margin: 120px 0;
}
.banners {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.our-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
}

.main-banner {
  background-color: #2e2f42;
  letter-spacing: 0.02em;
}

.our-work {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 32px;
  color: #434455;
}

/* team  */

.our-team {
  background-color: #f4f4fd;
  letter-spacing: 0.02em;
  padding: 120px 0;
}
.teammates {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 120px 0 72px 0;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: calc(1128px - 48px) / 4;
  padding: 0 0 120px 0;
  gap: 24px;
}

.team-members {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
  height: 380px;
}
.member-name {
  padding: 32px 0;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 32px 0px 8px 0px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 8px;
}
.member {
  text-align: center;
}
/* portfolio */
.portfolio-main {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  padding-top: 60px;
}
.portfolio-container {
  width: 1128px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  max-width: 100%;
}
.our-work {
  font-weight: 400;
}
.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
/* footer */

footer {
  background-color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 100px 0;
}
footer .container {
  display: flex;
  width: 264px;
  flex-direction: column;
  margin: auto;
  margin-left: 156px;
  padding: 0;
}
footer .container .logo {
  display: flex;
  align-self: flex-start;
}
a {
  text-decoration: none;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  padding-top: 16px;
}

.span-footer {
  color: #f4f4fd;
}
