*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-banner .container {
  height: 600px;
}

.main-head {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  width: 496px;
  padding-top: 188px;
  padding-bottom: 48px;
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.navigation-list,
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 76px;
}
.contact-info {
  display: flex;
  padding: auto;
  margin: auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  display: flex;
  width: 169px;
  height: 56px;
  padding: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.work-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: calc(100% - 48px) / 3;
}
.banners {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.our-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.button-order:hover,
:focus {
  background-color: #404bbf;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0/02em;
  color: #2e2f42;
}
.navigation:hover,
:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}
.contact-info {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.contact-info:hover,
:focus {
  color: #404bbf;
}
.main-banner,
footer {
  background-color: #2e2f42;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
  letter-spacing: 0.02em;
}

.our-work {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 32px;
  color: #434455;
}

.work-banner {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
}

.teammates {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 120px 0 72px 0;
  text-align: center;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: calc(1128px - 48px) / 4;
  padding: 0 0 120px 0;
  gap: 24px;
}

.team-members {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 0 0 4px 4px;

  width: 264px;
  height: 380px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 32px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.portfolio {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 72px;
  padding-top: 60px;
}

/* .container.portfolio {
  display: flex;
  flex-direction: column;

  width: calc(100% - 24px) / 3;
} */
.portfolio-list {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-content: center; */

  /* padding: 0 156px 120px 156px; */
  gap: 48px 24px;
}
h1 {
  text-align: center;
}
.work-banner {
  display: none;
}
footer {
  padding: 100px 0;
}
footer .container {
  display: flex;
  width: 264px;
  flex-direction: column;
}
footer .container .logo {
  display: flex;
  align-self: flex-start;
}
a {
  text-decoration: none;
}
.footer-text {
  color: #f4f4fd;
  padding-top: 16px;
}
.span-main {
  color: #2e2f42;
}
.span-footer {
  color: #f4f4fd;
}
